.mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customer-field {
  width: 100%;
}

.section-title {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.add-item-button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.items-container {
  width: 100%;
}

.item-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.item-row {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.product-code-field {
  flex: 1;
  margin-right: 1rem;
}

.quantity-field {
  flex: 1;
  margin-right: 1rem;
}

.remove-item-button {
  margin-left: 1rem;
}
