.container {
  padding: 0.5rem;
}

.add-user-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.mat-table {
  width: 100%;
}

.mat-header-cell,
.mat-cell {
  padding: 1rem;
}

.no-users {
  margin-top: 1rem;
  text-align: center;
}
