.container {
  padding: 0.5rem;
  margin-top: 0.5rem; /* Add this line to reduce the top margin */
  margin-left: 1.5rem; /* Add this line to reduce the left margin */
}

.header {
  text-align: center;
}

.add-product-button {
  display: flex;
  justify-content: flex-start; /* Change this line to align the button to the left */
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.mat-table {
  width: 100%;
}

.mat-header-cell,
.mat-cell {
  padding: 1rem;
}

.align-paginator {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem; /* Adjust this value as needed */
}
