<div class="container">
  <div class="control-container">
    <div *ngIf="!roleManagementService.isAdmin" class="add-product-button">
      <button mat-raised-button color="primary" (click)="addProduct()">
        <mat-icon>add</mat-icon> Add Product
      </button>
    </div>
    <div class="search-container">
      <mat-form-field class="search-field">
        <input matInput placeholder="Search" [(ngModel)]="searchValue" (keyup)="applyFilter()">
        <button mat-icon-button matSuffix *ngIf="searchValue" (click)="clearSearch()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <mat-table [dataSource]="productDatasource" class="mat-elevation-z8">
    <ng-container matColumnDef="productCode">
      <mat-header-cell *matHeaderCellDef>Product Code</mat-header-cell>
      <mat-cell *matCellDef="let product">{{ product.productCode }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="productName">
      <mat-header-cell *matHeaderCellDef>Product Name</mat-header-cell>
      <mat-cell *matCellDef="let product">{{ product.productName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Product Description</mat-header-cell>
      <mat-cell *matCellDef="let product">{{ product.description }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
      <mat-cell *matCellDef="let product">{{ product.category.name }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="unitPrice">
      <mat-header-cell *matHeaderCellDef>Unit Price</mat-header-cell>
      <mat-cell *matCellDef="let product">{{ product.unitPrice }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="unitInStock">
      <mat-header-cell *matHeaderCellDef>Unit in stock</mat-header-cell>
      <mat-cell *matCellDef="let product">{{ product.unitInStock }}</mat-cell>
    </ng-container>
    <ng-container *ngIf="!roleManagementService.isAdmin" matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let product">
        <button mat-raised-button color="primary" [routerLink]="['/product/', product.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-raised-button color="warn" (click)="deleteProduct(product.id)" style="margin-left: 5px;">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator class="align-paginator" [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" [pageIndex]="currentPage" (page)="loadProducts()"></mat-paginator>
</div>
