<div class="container">
  <div *ngIf="roleManagementService.isAdmin" class="add-category-button">
    <button mat-raised-button color="primary" (click)="addCategory()">
      <mat-icon>add</mat-icon> Add Category
    </button>
  </div>

  <mat-table [dataSource]="categoryDatasource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let category">{{ category.name }}</mat-cell>
    </ng-container>
    <ng-container *ngIf="roleManagementService.isAdmin" matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let category">
        <button mat-raised-button color="primary" [routerLink]="['/category/', category.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-raised-button color="warn" (click)="deleteCategory(category.id)" style="margin-left: 5px;">
        <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" [pageIndex]="currentPage" (page)="loadCategories()"></mat-paginator>
</div>
