.add-category-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.mat-table {
  width: 100%;
  overflow-x: auto;
}

.mat-header-cell,
.mat-cell {
  padding: 1rem;
}

.no-categories {
  margin-top: 1rem;
  text-align: center;
}
