<div class="mat-elevation-z4">
  <mat-table color="primary">
    <span *ngIf="!roleManagementService.isAdmin">Manage Customers</span>
    <span *ngIf="roleManagementService.isAdmin">View Customers</span>
    <span class="spacer"></span>
    <button *ngIf="!roleManagementService.isAdmin" mat-raised-button color="accent" (click)="addCustomer()">Add Customer</button>
  </mat-table>
  <mat-table [dataSource]="customerDatasource">
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{customer.firstName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{customer.lastName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{customer.address}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action" *ngIf="!roleManagementService.isAdmin">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let customer">
        <a mat-button [routerLink]="['/customer/', customer.id]" color="primary">Edit</a>
        <button mat-button color="warn" (click)="deleteCustomer(customer.id)">Delete</button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" [pageIndex]="currentPage" (page)="loadCustomers()"></mat-paginator>
</div>
