.mat-table {
  width: 100%;
}

.mat-header-cell,
.mat-cell {
  padding: 1rem;
}

.align-paginator {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem; /* Adjust this value as needed */
}
