<div class="container">
  <div class="control-container">
    <div *ngIf="!roleManagementService.isAdmin" class="add-customer-button">
      <button mat-raised-button color="primary" (click)="addCustomer()">
        <mat-icon>add</mat-icon> Add Customer
      </button>
    </div>
    <div class="search-container">
      <mat-form-field class="search-field">
        <input matInput placeholder="Search" [(ngModel)]="searchValue" (keyup)="applyFilter()">
        <button mat-icon-button matSuffix *ngIf="searchValue" (click)="clearSearch()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <mat-table [dataSource]="customerDatasource" class="mat-elevation-z8">
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
      <mat-cell *matCellDef="let customer">{{ customer.firstName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let customer">{{ customer.lastName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
      <mat-cell *matCellDef="let customer">{{ customer.address }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions" *ngIf="!roleManagementService.isAdmin">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell *matCellDef="let customer">
        <button mat-icon-button color="primary" [routerLink]="['/customer/', customer.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteCustomer(customer.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <div class="no-customers" *ngIf="!customerDatasource.counter$">
    No customers found.
  </div>

  <mat-paginator class="align-paginator"
                 [pageSizeOptions]="[5, 10, 20]"
                 [pageSize]="5"
                 [pageIndex]="currentPage"
                 (page)="loadCustomers()">
  </mat-paginator>
</div>
