<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
              <h4 *ngIf="!roleManagementService.isAdmin"><b>Orders of {{roleManagementService.user.username}}</b></h4>
              <h4 *ngIf="roleManagementService.isAdmin"><b>All orders</b></h4>
            </div>
          <div class="col-sm-6">
            <button *ngIf="!roleManagementService.isAdmin" class="btn btn-success" (click)="displayPlaceOrderPage()">
              <span> Place Order</span>
            </button>
          </div>
            <table class="table table-striped table-hover table-bordered table-content">
              <thead>
              <tr class="center-align">
              <tr>
                <th>Order ID</th>
                <th>Customer Full Name</th>
                <th>Items</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let order of orders">
                <td>{{ order.order.orderId }}</td>
                <td>{{ order.order.customerName }}</td>
                <td>
                  <ul>
                    <li *ngFor="let item of order.items">
                      Product Code: {{ item.productCode }}
                      Quantity: {{ item.quantity }}
                      Price: {{ item.price }}
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td *ngIf="orders.length == 0" colspan="6">No products were found</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
