
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff; /* Change background color for a cleaner look */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.control-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.add-order-button {
  display: flex;
  justify-content: flex-end;
}

.mat-table {
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse; /* Improve table appearance */
}

.mat-header-cell,
.mat-cell {
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left; /* Align text left for better readability */
}

.mat-header-cell {
  background-color: #f2f2f2; /* Add a subtle background color for header cells */
}

.mat-cell {
  border-bottom: 1px solid #f2f2f2; /* Add a bottom border for cell separation */
}

.search-container .mat-form-field {
  width: 100%;
}

.search-field {
  flex-grow: 1;
}

.no-orders {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.2rem;
  color: #999999; /* Change color for better contrast */
}

.align-paginator {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.mat-column-actions {
  width: 180px;
  overflow: visible;
  display: flex;
  justify-content: center; /* Center align the actions */
  align-items: center; /* Vertically align the actions */
}

.mat-icon-button {
  transition: background-color 0.3s;
}

.mat-icon-button:hover {
  background-color: #e0e0e0; /* Add a subtle hover effect */
}

/* Responsive design */
@media screen and (max-width: 600px) {
  .mat-column-actions {
    width: auto;
    white-space: nowrap; /* Prevent actions from wrapping on small screens */
  }
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.item-card {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 200px;
}

.item-details {
  margin-bottom: 0.5rem;
}

.product-code {
  font-weight: bold;
}

.quantity,
.price {
  color: #888888;
}
