<div class="container">
  <div *ngIf="!roleManagementService.isAdmin" class="add-product-button">
    <button mat-icon-button color="primary" (click)="displayPlaceOrder()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-table [dataSource]="orderDatasource" class="mat-elevation-z8">
    <ng-container matColumnDef="orderId">
      <mat-header-cell *matHeaderCellDef> Order ID </mat-header-cell>
      <mat-cell *matCellDef="let order">{{ order.order.orderId}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="customerName">
      <mat-header-cell *matHeaderCellDef>Customer Name </mat-header-cell>
      <mat-cell *matCellDef="let order">{{ order.order.customerName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="items">
      <mat-header-cell *matHeaderCellDef>Items</mat-header-cell>
      <mat-cell *matCellDef="let order">
        <ul>
          <li *ngFor="let item of order.items">
            Product Code: {{ item.productCode }}
            Quantity: {{ item.quantity }}
            Price: {{ item.price }}
          </li>
        </ul>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator class ="align-paginator" [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" [pageIndex]="currentPage" (page)="loadOrders()"></mat-paginator>
</div>
