<mat-toolbar color="primary">
  <span>My App</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/categories">Categories</button>
  <button mat-button routerLink="/customers">Customers</button>
  <button mat-button *ngIf="roleManagementService.isAdmin" routerLink="/users">Users</button>
  <button mat-button routerLink="/products">Products</button>
  <button mat-button routerLink="/orders">Orders</button>
  <span class="spacer"></span>
  <button mat-button *ngIf="!roleManagementService.isUser" routerLink="/login">Login</button>
  <button mat-button *ngIf="roleManagementService.isUser" (click)="logout()">Logout</button>
</mat-toolbar>
