.dialog-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.dialog-icon {
  font-size: 48px;
  color: #e53935; /* Choose a suitable color for the icon */
  margin-bottom: 24px;
}

.dialog-message {
  font-size: 16px;
  margin-bottom: 24px;
}

.dialog-button {
  font-size: 16px;
  background-color: #2979ff; /* Choose a suitable background color for the button */
  color: #ffffff; /* Choose a suitable text color for the button */
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-dialog-actions {
  justify-content: center;
}
