.mat-form-field {
  margin-bottom: 16px;
}
.mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mat-form-field {
  width: 100%; /* set the width to 100% to fill the container */
  display: flex;
  justify-content: center;
  align-items: center;
}


:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mat-card {
  width: 50%;
  max-width: 600px;
  min-width: 300px;
}

.button-container, h1 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}


