.mat-form-field {
  margin-bottom: 16px;
}
.mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* This aligns items along the cross axis. */
  justify-content: center; /* This aligns items along the main axis. */
}

.mat-form-field {
  width: 100%;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mat-card {
  width: 50%;
  max-width: 600px;
  min-width: 300px;
}

.button-container , h1 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

